<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <!--<bean id="apiServiceProxy" class="com.docusign.proxy.ApiServiceProxy" />-->

    <bean id="apiServiceSoap" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="com.docusign.model.APIServiceSoap"/>
        <property name="wsdlDocumentUrl" value="classpath:wsdl/dsapi.wsdl"/>
        <property name="namespaceUri" value="http://www.docusign.net/API/3.0"/>
        <property name="serviceName" value="APIService"/>
        <property name="endpointAddress" value="https://demo.docusign.net/api/3.0/dsapi.asmx"/>
    </bean>
</beans>